@import "tailwindcss";

@layer components {
  .home-bg {
    @apply min-h-screen bg-gradient-to-b from-red-100 to-red-300 flex flex-col justify-center items-center;
  }

  .home-card {
    @apply bg-white rounded-2xl shadow-lg p-6 w-[90%] max-w-md text-center;
  }

  .input-home {
    @apply border rounded-xl p-2 text-center focus:outline-none focus:ring-2 focus:ring-red-700;
  }

  .home-button {
    @apply rounded-xl bg-red-700 py-2 mt-3 text-white hover:bg-red-800 disabled:bg-gray-400;
  }
}
