@import "tailwindcss";

@layer components {
  .home-bg {
    @apply min-h-screen bg-gradient-to-b from-red-100 to-red-300 flex flex-col justify-center items-center;
  }

  .home-card {
    @apply bg-white rounded-2xl shadow-lg p-6 w-[90%] max-w-md text-center;
  }

  .input-home {
    @apply border rounded-xl p-2 text-center focus:outline-none focus:ring-2 focus:ring-red-700;
  }

  .home-button {
    @apply rounded-xl bg-red-700 py-2 mt-3 text-white hover:bg-red-800 disabled:bg-gray-400;
  }

  .nav-bar {
    @apply flex items-center justify-between px-6 md:px-16 lg:px-24 xl:px-32 py-2 border-b border-gray-300 bg-white relative transition-all;
  }
  .contact-social-photo {
    @apply h-100 sm:h-[48vh] md:h-[58vh] lg:h-[68vh] xl:h-[85vh] 2xl:h-[95vh] w-full;
  }
}

@keyframes neon-glow {
  0%,
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000,
      0 0 60px #ff0000, inset 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000,
      0 0 40px #ff0000, inset 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

@keyframes neon-glow-blue {
  0%,
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0000,
      0 0 40px #ff0000, inset 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000,
      0 0 40px #ff0000, inset 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

.neon-border-top {
  animation: neon-glow 5s ease-in-out infinite;
}

.neon-border-bottom {
  animation: neon-glow-blue 5s ease-in-out infinite;
}

.neon-text {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00d4ff,
    0 0 70px #00d4ff, 0 0 80px #00d4ff;
  animation: text-flicker 3s ease-in-out infinite;
}

@keyframes text-flicker {
  0%,
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00d4ff,
      0 0 70px #00d4ff, 0 0 80px #00d4ff;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00d4ff,
      0 0 35px #00d4ff, 0 0 40px #00d4ff;
  }
}
