@import "tailwindcss";

@layer components {
  .login-button {
    @apply mt-8 w-full h-11 rounded-full text-white bg-red-800 hover:opacity-90 transition-opacity;
  }

  .nav-bar {
    @apply flex items-center justify-between px-6 md:px-16 lg:px-24 xl:px-32 py-2 border-b border-gray-300 bg-white relative transition-all;
  }
}
