@import "tailwindcss";

@layer components {
  .login-button {
    @apply mt-8 w-full h-11 rounded-full text-white bg-red-800 hover:opacity-90 transition-opacity;
  }

  .button-accept {
    @apply h-11 px-10 sm:px-23 md:px-12 lg:px-9 xl:px-12 2xl:px-18 rounded-full text-white bg-green-700 hover:opacity-90 transition-opacity;
  }

  .button-reject {
    @apply h-11 px-10 sm:px-23 md:px-12 lg:px-9 xl:px-12 2xl:px-18 rounded-full text-white bg-red-700 hover:opacity-90 transition-opacity;
  }

  .nav-bar {
    @apply flex items-center justify-between px-6 md:px-16 lg:px-24 xl:px-32 py-2 border-b border-gray-300 bg-white relative transition-all;
  }
}
